.content-wrapper{
  display: flex;
  background-color: #262D40;
  margin-top:80px;
  margin-left: 18%;
}
.App{
  width: 100%;
  /* display: flex;
  flex-direction: row; */
}

.inner-content-wrapper {
  width: 100%;
  overflow: hidden;
  margin: 25px 45px;
}

.content-navigation-wrapper{
  display: flex;
  background-color: #262D40;
  padding-top: 40px;
}
.logout-btn{
  width: 100px;
  height: 40px;
  background-color: blue;
  position: absolute;
  top: 60px;
  left: 1272px;
  border-radius: 20px;
}
